{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Professores</h2>

    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'criar_professor' %}" class="btn btn-primary mb-3">Cadastrar Novo Professor</a>
    {% endif %}

    <div class="row">
        {% for professor in professores %}
            <div class="col-md-4">
                <div class="card shadow-sm mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ professor.nome }}</h5>
                        <p class="card-text">
                            <strong>Email:</strong> {{ professor.user.email }}<br>
                            {% if professor.link_lattes %}
                                <strong>Lattes:</strong> 
                                <a href="{{ professor.link_lattes }}" target="_blank">Ver Lattes</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="alert alert-warning">Nenhum professor cadastrado.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
