*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-navbar {
    background-color: #050487 !important;
}

.custom-navbar .nav-link {
    color: white !important;
}

.custom-navbar .nav-link:hover {
    color: #d4d4ff !important;
}
