{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Arquivo CSS personalizado -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="bg-light">
        <div class="container d-flex justify-content-between align-items-center py-2">
            <!-- Logo -->
            <div class="d-flex align-items-center">
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/coinfo_png.png' %}" alt="Logo COINFO" width="120">
                </a>
            </div>
        
            <!-- Redes Sociais -->
            <div class="d-flex gap-3">
                <a href="https://facebook.com/seu_perfil" target="_blank" class="text-dark">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="https://instagram.com/seu_perfil" target="_blank" class="text-dark">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://twitter.com/seu_perfil" target="_blank" class="text-dark">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://linkedin.com/in/seu_perfil" target="_blank" class="text-dark">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg custom-navbar fw-semibold shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'listar_cursos' %}">Cursos</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'listar_projetos' %}">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'listar_infraestrutura' %}">Infraestrutura</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class=" btn btn-danger text-white">Logout</button>
                            </form>
                        </li>
                        <li>
                            <a href="{% url 'perfil_usuario' %}" class="ms-3 btn btn-primary">🙍‍♂️ Perfil</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-light text-dark" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="ms-3 nav-link btn btn-warning " href="{% url 'registro' %}">Registrar</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
