{% extends 'base.html' %}

{% block title %}Lista de Professores{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-start">Curso da COINFO</h2>
    <div class="row mt-4">
      
        <div class="col-md-3 mb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Licenciatura em Computação</h5>
                    <p class="card-text">Descrição aqui</p>
                </div>
            </div>
        </div>
     
    </div>
</div>
{% endblock %}