{% extends 'base.html' %}

{% block content %}


<div class="container mt-4">
    <div class="row mt-5">
        <div class="col-md-6">
            <h4 class="text-primary fw-bold ">História da COINFO</h4>
            <div class="card shadow-sm">
                <div class="card-body ">
                    <p>Aqui vai um texto contando a história da COINFO...</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-primary fw-bold ">Notícias</h4>
            <div class="row">
                <div class="col-12 mb-3 ">
                    <div class="card shadow-sm ">
                        <div class="card-body ">Notícia 1</div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">Notícia 2</div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">Notícia 3</div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">Notícia 4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}