{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Seção de História -->
        <div class="col-md-6">
            <h3 class="text-success fw-bold">História da COINFO</h3>
            <div class="card shadow-sm border-0 rounded-3 bg-white">
                <div class="card-body">
                    <p class="text-secondary">Aqui vai um texto contando a história da COINFO...</p>
                </div>
            </div>
        </div>

        <!-- Seção de Notícias -->
        <div class="col-md-6">
            {% if is_admin %}
                <a href="{% url 'cadastrar_noticia' %}" class="btn btn-success mb-3">+ Cadastrar Notícia</a>
            {% endif %}

            <h3 class="text-success fw-bold">Notícias</h3>

            {% for noticia in noticias %}
            <div class="card mb-4 border-0 shadow-sm rounded-3 bg-light">
                <div class="card-body">
                    <h4 class="text-dark fw-bold">{{ noticia.titulo }}</h4>
                    <p class="text-muted small mt-2"><i class="fas fa-clock"></i>🕐
                        
                         Publicado em {{ noticia.data_publicacao|date:"d/m/Y H:i" }}</p>
                    <a href="{% url 'detalhe_noticia' noticia.id %}" class="btn btn-outline-success btn-sm">Leia mais</a>
                </div>
            </div>
            {% empty %}
                <p class="text-muted">Nenhuma notícia disponível no momento.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
